<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Datos de usuario:</h2>

    <div class="row">
      <h3 class="col-md-2">Hola</h3>
      <h3 class="col-md-5">Soy Bootstrap</h3>
    </div>
    <!--<h3>Nombre: {{first_name}} {{last_name}}</h3>
    <h3>email: {{email}}</h3>-->
    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button on-click="login" class="btn btn-success">Login</button>
    <button on-click="logout" class="btn btn-warning">Logout</button>
    
    <span hidden$="{{!logged}}">Bienvenido a casa Johnny</span>
    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id:{
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email:{
            type: String
          },
          password:{
            type: String
          },
          logged:{
            type: Boolean,
            value: false
          }
        };
      }
      /*
      showData(data){
        console.log("showData");
        console.log(data.detail.response);
        this.first_name=data.detail.response.first_name;
        this.last_name=data.detail.response.last_name;
        this.email=data.detail.response.email;
      }
      */
      login(){
        console.log("Botón login pulsado");
        //objeto js que contendrá los datos de los inputs.
        var loginData = {
          "email": this.email,
          "password": this.password
        };
        //Lo pasamos a formato json y lo mandamos
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest(); //genera una petición con todos los parametros disponibles
        console.log("Petición enviada");
      }
      manageAJAXresponse(data){
        console.log("Respuesta recibida");
        console.log(data.detail.response);
        this.logged=true;
      }
      showError(error){
        console.log("Hubo un error: ");
        console.log(error);
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
