<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy el receptor.</h1>
    <h2>Este es el curso {{course}}</h2>
    <h2>en el año {{year}}</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course:{
            type: String
          },
          year:{
            type: Number
          }
        };
      }
        showData(data){
          console.log("Datos recibidos en el receptor.");
          console.log(data);
          this.course =data.course;
          this.year = data.year;
        }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
