<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Datos de cuenta:</h2>
    <!-- <h3>Cuenta: {{iban}}</h3>
    <h3>Usuario: {{userid}}</h3>
    <h3>Balance: {{balance}}</h3> -->
    <template is="dom-repeat" items="{{accounts}}">
      <h4>IBAN : {{item.iban}}</h4>
      <h4>Saldo : {{item.balance}}</h4>
      <h5>____________________________________________________</h5>
    </template>
    <iron-ajax
      auto="true"
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid:{
            type: Number
          },
          iban: {
            type: String
          },
          balance: {
            type: String
          },
          accounts:{
            type: Array
          }
        };
      }
      showData(data){
        console.log("showData");
        console.log(data.detail.response[0]);
        this.accounts = data.detail.response;
        // this.userid=data.detail.response[0].userid;
        // this.iban=data.detail.response[0].iban;
        // this.balance=data.detail.response[0].balance;
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
