<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy el emisor.</h1>
    <button on-click="sendEvent">No pulsar</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        return {
        };
      }
      sendEvent (e){
        console.log("Pulsado el botón");
        console.log(e);
        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "detail": {
              course: "TechU",
              "year": 2018
            }
            }
          )
        );
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
